.contactWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  border: 0.2px solid #000;
  background: #D7DEE9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;

  width: 325px;
  max-width: calc(100vw - 62px);
  height: 250px;

  margin: 10px;
  margin-bottom: 5px;
  padding-top: 5px;
}

.name {
  color: #000;
  font-family: "Archivo Narrow";
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 0px;
}

.number {
  color: #000;
  font-family: "Archivo Narrow";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;

}

.email {
  color: #000;
  font-family: "Archivo Narrow";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
}

.company {
  color: #000;
  font-family: "Archivo Narrow";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  margin-top: 20px;
}

.contactBtn {
  display: inline-flex;
  border-radius: 30px;
  border: 0.2px solid #000;
  background: #8FB1E2;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  width: 40px;
  height: 40px;
  margin: 2px;
}

.greyBtn {
  pointer-events: none;
  background: #666666;
  opacity: 0.5;
}

.greyBtn:hover {
  background: #666666;
}

.contactBtn:hover {
  background: #5E94E0;
}

.buttonGroup {
  display : flex;
  align-items: center;
  justify-content: space-between;
}

.contactGroup {
  display: inline-block;
  align-items: center;
}

.modifyGroup {
  display: inline-block;
  align-items: center;
}

.editButton {
  display: inline-flex;
  border-radius: 30px;
  border: 0.2px solid #000;
  background: #5bc75f;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  width: 40px;
  height: 40px;
  margin: 2px;
}

.editButton:hover {
  background: #318f3d;
}

.deleteButton:hover {
  background: #96322f;
}

.deleteButton {
  display: inline-flex;
  border-radius: 30px;
  border: 0.2px solid #000;
  background: #e05555;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  width: 40px;
  height: 40px;
  margin: 2px;
}

i {
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}
