body {
  margin: 0px;
}

.navBarWrapper {
  display: flex;
  background: #8FB1E2;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.siteHeader {
  display: inline-block; 
  height: 43px;
  justify-content: center;
  flex-shrink: 0;

  margin: 10px;

  font-family: "Archivo Narrow";
}

.profileBtn {
  display: inline-block;
  border-radius: 10px;
  border: 0.2px solid #000;
  background: #4F71A2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  width: 46px;
  height: 46px;
  margin: 2px;

  font-size: 24px;
}

.profileBtn:hover {
  background: #5E94E0;
}

.addContactBtn {
  background: #52ca62;
}

.addContactBtn:hover {
  background: #40a14d;
}

.optionsBtn {
  background: #E7E95A;
  margin-right: 4px;
}

.optionsBtn:hover {
  background: #B1B238;
}

.homeBtn {
  background: #4151FE;
}

.homeBtn:hover {
  background: #1927C0;
}

