.overlay {
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.options {
  background: #FFFFFF;
  z-index: 1001;
  position: relative;
  margin: 10%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logoutBtn {
  background: #EA5A3B;
  margin-right: 4px;
}

.logoutBtn:hover {
  background: #AB422C;
}
