.searchWrapper {
  display: flex;
  width: 100%;
  
  justify-content: center;
}

.searchInput {
  display: inline-block;
  width: 100%;
  margin: 2px;
  margin-left: 4px;
  font-size: 20px;
  border-radius: 20px;
  border: 0.2px solid #000;
  background: #F1F1F1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  padding-left: 10px;

  font-family: "Archivo Narrow";

}

.searchSubmitBtn {
  display: inline-block;
  width: 50px;
  margin: 2px;
  margin-right: 4px;
  height: 50px;
  border-radius: 30px;
  border: 0.2px solid #000;
  background: #8FB1E2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  font-size: 24px;
}

.searchSubmitBtn:hover {
  background: #5E94E0;
}
