/*
body{
    background:linear-gradient(cornflowerblue,aquamarine);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/

.login-title
{
    color:black;
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-family: 'consolas', sans-serif;

}

.login-form{
    background-color: #D7DEE9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 10px;
    width: calc(100% - 62px);
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    border: 0.2px solid #000;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;

    border-radius: 15px;
    border: 0.2px solid #000;
    background: #F1F1F1;
}

.form-group input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}


.form-group button:hover {
    background-color: #218838;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#searchBar{
    font-size: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-family: 'consolas', sans-serif;
    
}

#button{
    margin-left: 50%;
   
}

#param{
    margin-left: 50%;
}

.textForm {
    border-radius: 15px;
    border: 0.2px solid #000;
    background: #F1F1F1;
}

.buttonAdd {
    border-radius: 20px;
    border: 0.2px solid #000;
    background: #8FB1E2;
}

.buttonAdd:hover {
    background: #708ab0;
}
